.header {
  background: $main-color;

  &__wrapper-logo {
    padding: 80px 0 76px;
  }

  &__wrapper-info {
    max-height: 600px;
    padding-bottom: 59px;
  }

  &__nav {
    max-width: 620px;
    width: 100%;
    align-self: center;
    font-size: $regular-size-text;

    &-second-layer {
      font-family: Roboto-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
      position: absolute;
      bottom: -20px;
      left: -35%;
      right: 0;
      font-size: 1em;
    }
  }

  &__nav-item {
    text-align: right;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color ($regular-time-transition / 2);

    &:hover {
      border-bottom: 2px solid yellow;
    }
  }

  &__title-info {
    margin: 0 0 23px;
    font-size: 42px;
    letter-spacing: .3px;
    line-height: 1.2em;
  }

  &__text {
    max-width: 362px;
    max-height: 270px;
    margin: 6px 0 22px;
    line-height: 1.9em;
    font-size: 16px;
  }

  &__wrapper-img {
    position: relative;
    align-self: flex-end;
    margin: 55px 0 0;
    max-width: 625px;
    width: 60%;
    max-height: 358px;
  }

  &__arrow {
    top: -2%;
    right: 28%;
    max-width: 390px;
    transform: rotate(-2deg);
  }

  &__slider {
    align-self: stretch;
    margin: 40px 0 0 25px;
  }

  &_button-effect {
    padding: 13px 0 14px;
    box-shadow: 0 0 6px 2px #d9a330;

    &:hover {
      box-shadow: 0 0 8px 3px #be8235;
    }

    &:active {
      box-shadow: none;
    }
  }
}