.content {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__title {
    margin: 0 0 13px;
    box-sizing: border-box;
    font-family: Roboto-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 18px;
    color: rgba(37, 37, 37, 255);
  }

  &__text {
    max-width: 462px;
    max-height: 149px;
    margin: 0 0 22px;
    padding: 0 2px;
    overflow: hidden;
    font-family: Roboto-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 14.9px;
    line-height: 1.5em;
    color: rgba(54, 54, 54, 255);
  }

  &__wrapper-img {
    display: block;
    overflow: hidden;
    max-width: 416px;
    max-height: 252px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    &_size_l {
      height: 101%;
      width: 102%;
    }
  }

  &_size {
    @for $i from 1 through 9 {
      &_#{$i * 10} {
        width: #{$i * 10%};
      }
    }
  }

  &_color {
    &_white {
      color: white;
    }
  }

  &_justify {
    &_between {
      justify-content: space-between;
    }
  }

  &_order {
    &_first {
      order: -1;
      left: 0;
    }
  }
}