.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    align-self: center;
    width: 330px;
    padding: 13px 0;
    font-family: SourceSansPro-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
    font-size: 26px;
    text-align: center;
    color: white;
    background: $main-text-color;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px #bababa;
    transition: box-shadow $regular-time-transition;

    &:hover {
      box-shadow: 0 0 6px 2px #9b9b9b;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__arrow {
    position: absolute;
    display: block;
    top: 28px;

    &_theme_common {
      right: 26%;
    }

    &_theme_left {
      left: 26%;
      transform: scale(-1, 1);
    }
  }

  &_dir_row {
    flex-direction: row;
  }

  &_section {
    &_we-do {
      padding: 141px 0 130px;
    }

    &_we-work {
      background: #f9f9f9;
      padding: 86px 0 110px;
    }

    &_features {
      padding: 134px 0 146px;

      &-offsets {
        margin-top: 53px;
      }

      &-wrapper {
        flex-wrap: wrap;
        margin-top: 150px;
      }
    }

    &_packages {
      padding-bottom: 167px;

      &_buttons {
        max-width: 780px;
        margin: 55px auto 0;
      }
    }
  }

  &_content {
    &-we-do {
      max-width: 945px;
      margin: 206px auto 0;

      &-first {
        margin-top: 184px;
      }
    }

    &-we-work {
      margin-top: 147px;

      &_img {
        margin: 0 auto;
        max-width: 991px;
        max-height: 855px;
      }
    }

    &_features-title {
      &_large {
        margin-bottom: 15px;
      }
    }

    &_packages {
      margin-top: 202px;

      &_buttons {
        width: 192px;
        max-height: 45px;
        font-family: Roboto-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
        font-size: 14px;
        color: white;
        background: #a5a5a5;

        &_theme_yellow {
          background: $main-color;
        }

        &_size_more {
          width: 215px;
          max-height: 59px;
          padding: 19px 0;
          font-family: OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
          font-size: 16px;
          background: $color-red;
        }
      }
    }
  }
}